* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
/* root */
:root {
    --heght-search: 4rem;
    --color-primary: #ffffffd1;
    --color-second: #ffffffe8;
}

/* Sidebar */
.sidebar {
    background-color: #231B2E;
    height: 100vh;
}
.sidebar-menu__list-item {
    color: var(--color-primary);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 7px 25px;
    display: block;
}
.sidebar-menu__list-item:hover {
    color: white;
}
.sidebar-icon {
    padding-right: 1.5rem;
}
.logo-app {
    width: 140px;
    padding: 2rem 0 1.5rem 2.5rem;
}
.sidabar-line {
    height: 1px;
    background-color: #716a7b;
    width: 90%;
    margin: 2rem auto;
}

/* Box */
.box {
    background-color: #170F23;
}
.box-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 4rem;
}
.box-header__search {
    flex: 2;
}
.box-header__group {
    width: 70%;
    height: var(--heght-search);
    border-radius: 20px;
    border: none;
    background-color: #58566C;
    display: flex;
    align-items: center;
}
.box-header__search-input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: var(--heght-search);
    outline: none;
}
input.box-header__search-input:focus {
    color: white;
}
::placeholder {
    color: var(--color-second);
}
.box-header__search-icon {
    color: white;
    font-size: 1.6rem;
    padding: 0 1rem;
    cursor: pointer;
    color: var(--color-second);
}
.box-header__user {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.box-header__user-item{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #464354;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .6rem;
    cursor: pointer;
}
.box-header__user-item:hover, .box-header__search-icon:hover {
    opacity: 0.8;
}
.box-header__icon {
    font-size: 1.6rem;
    color: white;
}
.box-user {
    text-align: center;
}
.box-user__img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
.box-user__name {
    color: white;
    font-size: 2.5rem;
}
.box-menu {
    padding: 5rem 0 3rem;
}
.box-menu__group {
    display: flex;
    justify-content: center;
    background-color: #2F2739;
    padding: 1rem 0;
    width: 56%;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
}
.active {
    background-color: #6E6875;
    border-radius: 20px;
}
.box-menu__list {
    list-style-type: none;
}
.box-menu__item {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .7rem 3.12rem;
    
}


/* Play-music */
.play-music {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #120C1C;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-music__logo {
    width: 64px;
    border-radius: 50%;
    height: 64px;
}
.play-music__info {
    display: flex;
    align-items: center;
}
.play-music__info-group {
    margin-left: 1rem;
}
.play-music__info-name-song {
    font-size: 1.5rem;
    padding-bottom: .8rem;
}
.play-music__info-name-singer {
    font-size: 1.2rem;
}
.control-icon {
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    padding: 0 .5rem;
}
.play-music__control-range {
    width: 100%;
    margin-top: 1.5rem;
}
.volum-icon {
    font-size: 1.8rem;
    padding: 0 1rem;
} 